body{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 50px;
}
.name-highlight{
    color: brown;
    
}
.half-width{
    width: 40%;
    float: left;
    margin: 2%;
    padding: ;
}

.half-width img{
    width: 100%;
}