body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
}

h1{
    font-size: 50px;
}
.name-highlight{
    color: brown;
    
}
.half-width{
    width: 40%;
    float: left;
    margin: 2%;
    padding: ;
}

.half-width img{
    width: 80%;
    margin-left: 50%;
    margin-top: 0%;

}

.top-banner{
    background-image: url(images/top-banner.png);

}
section{
    height: 500px;
}